# LaTeX packages required for building the documents

MnSymbol
abraces
amsfonts
amsmath
amssymb
amsthm
babel
centernot
colortbl
dsfont
enumitem
etoolbox
fancyhdr
fontenc
geometry
hyperref
latexsym
lmodern
mathrsfs
mathtools
mdframed
pgfplots
sectsty
stmaryrd
tikz
xcolor
